P2/rst-contract/RestaurantService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for ForkExec Restaurant.

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.rst.forkexec.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestaurantService" targetNamespace="http://ws.rst.forkexec.com/">

  <!--  XML Schema Definition (XSD) of data types. -->
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.rst.forkexec.com/" version="1.0">
      <xs:element name="BadInitFault" type="tns:BadInitFault" />
      <xs:element name="BadMenuIdFault" type="tns:BadMenuIdFault" />
      <xs:element name="BadQuantityFault" type="tns:BadQuantityFault" />
      <xs:element name="BadTextFault" type="tns:BadTextFault" />
      <xs:element name="InsufficientQuantityFault" type="tns:InsufficientQuantityFault" />
      <xs:element name="ctrlClear" type="tns:ctrlClear" />
      <xs:element name="ctrlClearResponse" type="tns:ctrlClearResponse" />
      <xs:element name="ctrlInit" type="tns:ctrlInit" />
      <xs:element name="ctrlInitResponse" type="tns:ctrlInitResponse" />
      <xs:element name="ctrlPing" type="tns:ctrlPing" />
      <xs:element name="ctrlPingResponse" type="tns:ctrlPingResponse" />
      <xs:element name="getMenu" type="tns:getMenu" />
      <xs:element name="getMenuResponse" type="tns:getMenuResponse" />
      <xs:element name="orderMenu" type="tns:orderMenu" />
      <xs:element name="orderMenuResponse" type="tns:orderMenuResponse" />
      <xs:element name="searchMenus" type="tns:searchMenus" />
      <xs:element name="searchMenusResponse" type="tns:searchMenusResponse" />
      <xs:complexType name="ctrlClear">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ctrlClearResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getMenu">
        <xs:sequence>
          <xs:element minOccurs="0" name="menuId" type="tns:menuId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuId">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMenuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:menu" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menu">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="tns:menuId" />
          <xs:element minOccurs="0" name="entree" type="xs:string" />
          <xs:element minOccurs="0" name="plate" type="xs:string" />
          <xs:element minOccurs="0" name="dessert" type="xs:string" />
          <xs:element name="price" type="xs:int" />
          <xs:element name="preparationTime" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BadMenuIdFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchMenus">
        <xs:sequence>
          <xs:element minOccurs="0" name="descriptionText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchMenusResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:menu" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BadTextFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlPing">
        <xs:sequence>
          <xs:element minOccurs="0" name="input" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlPingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="orderMenu">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:menuId" />
          <xs:element name="arg1" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="orderMenuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:menuOrder" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="tns:menuOrderId" />
          <xs:element minOccurs="0" name="menuId" type="tns:menuId" />
          <xs:element name="menuQuantity" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuOrderId">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BadQuantityFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InsufficientQuantityFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInit">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="initialMenus" type="tns:menuInit" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuInit">
        <xs:sequence>
          <xs:element minOccurs="0" name="menu" type="tns:menu" />
          <xs:element name="quantity" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ctrlInitResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="BadInitFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>

  <!--  Messages use elements defined in the schema. -->
  <message name="getMenu">
    <part element="tns:getMenu" name="parameters" />
  </message>
  <message name="getMenuResponse">
    <part element="tns:getMenuResponse" name="parameters" />
  </message>
  <message name="BadMenuIdFault">
    <part element="tns:BadMenuIdFault" name="fault" />
  </message>
  <message name="ctrlClear">
    <part element="tns:ctrlClear" name="parameters" />
  </message>
  <message name="ctrlClearResponse">
    <part element="tns:ctrlClearResponse" name="parameters" />
  </message>
  <message name="orderMenu">
    <part element="tns:orderMenu" name="parameters" />
  </message>
  <message name="orderMenuResponse">
    <part element="tns:orderMenuResponse" name="parameters" />
  </message>
  <message name="BadQuantityFault">
    <part element="tns:BadQuantityFault" name="fault" />
  </message>
  <message name="InsufficientQuantityFault">
    <part element="tns:InsufficientQuantityFault" name="fault" />
  </message>
  <message name="ctrlInit">
    <part element="tns:ctrlInit" name="parameters" />
  </message>
  <message name="ctrlInitResponse">
    <part element="tns:ctrlInitResponse" name="parameters" />
  </message>
  <message name="BadInitFault">
    <part element="tns:BadInitFault" name="fault" />
  </message>
  <message name="ctrlPing">
    <part element="tns:ctrlPing" name="parameters" />
  </message>
  <message name="ctrlPingResponse">
    <part element="tns:ctrlPingResponse" name="parameters" />
  </message>
  <message name="searchMenus">
    <part element="tns:searchMenus" name="parameters" />
  </message>
  <message name="searchMenusResponse">
    <part element="tns:searchMenusResponse" name="parameters" />
  </message>
  <message name="BadTextFault">
    <part element="tns:BadTextFault" name="fault" />
  </message>

  <!--  Port type (interface). -->
  <!--  Each operation has input, output and fault messages. -->
  <portType name="RestaurantPortType">
    <operation name="getMenu">
      <input message="tns:getMenu" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/getMenuRequest" />
      <output message="tns:getMenuResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/getMenuResponse" />
      <fault message="tns:BadMenuIdFault" name="BadMenuIdFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/getMenu/Fault/BadMenuIdFault" />
    </operation>
    <operation name="ctrlClear">
      <input message="tns:ctrlClear" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlClearRequest" />
      <output message="tns:ctrlClearResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlClearResponse" />
    </operation>
    <operation name="orderMenu">
      <input message="tns:orderMenu" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/orderMenuRequest" />
      <output message="tns:orderMenuResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/orderMenuResponse" />
      <fault message="tns:BadMenuIdFault" name="BadMenuIdFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/orderMenu/Fault/BadMenuIdFault" />
      <fault message="tns:BadQuantityFault" name="BadQuantityFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/orderMenu/Fault/BadQuantityFault" />
      <fault message="tns:InsufficientQuantityFault" name="InsufficientQuantityFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/orderMenu/Fault/InsufficientQuantityFault" />
    </operation>
    <operation name="ctrlInit">
      <input message="tns:ctrlInit" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlInitRequest" />
      <output message="tns:ctrlInitResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlInitResponse" />
      <fault message="tns:BadInitFault" name="BadInitFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlInit/Fault/BadInitFault" />
    </operation>
    <operation name="ctrlPing">
      <input message="tns:ctrlPing" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlPingRequest" />
      <output message="tns:ctrlPingResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/ctrlPingResponse" />
    </operation>
    <operation name="searchMenus">
      <input message="tns:searchMenus" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/searchMenusRequest" />
      <output message="tns:searchMenusResponse" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/searchMenusResponse" />
      <fault message="tns:BadTextFault" name="BadTextFault" wsam:Action="http://ws.rst.forkexec.com/RestaurantPortType/searchMenus/Fault/BadTextFault" />
    </operation>
  </portType>

  <!--  Binding defines the actual technologies to use. -->
  <binding name="RestaurantPortBinding" type="tns:RestaurantPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getMenu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadMenuIdFault">
        <soap:fault name="BadMenuIdFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlClear">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="orderMenu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadMenuIdFault">
        <soap:fault name="BadMenuIdFault" use="literal" />
      </fault>
      <fault name="BadQuantityFault">
        <soap:fault name="BadQuantityFault" use="literal" />
      </fault>
      <fault name="InsufficientQuantityFault">
        <soap:fault name="InsufficientQuantityFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlInit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadInitFault">
        <soap:fault name="BadInitFault" use="literal" />
      </fault>
    </operation>
    <operation name="ctrlPing">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchMenus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BadTextFault">
        <soap:fault name="BadTextFault" use="literal" />
      </fault>
    </operation>
  </binding>

  <!--  Service defines ports. -->
  <!--  Each port is an abstract port type, made concrete by a binding. -->
  <service name="RestaurantService">
    <port binding="tns:RestaurantPortBinding" name="RestaurantPort">
      <soap:address location="http://forkexec.com:8081/restaurant" />
    </port>
  </service>
</definitions>
